@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-primary: #2563eb; /* Bleu */
  --color-brand-accent: #60a5fa;  /* Bleu clair survol, hove */
  --color-brand-secondary: #22d3ee
}

@layer base {
  :root {
    /* Mode Clair : Soft & Clean */
    --bg-main: #f8fafc;
    --bg-navbar: rgba(248, 250, 252, 0.8);
    --text-main: #1e293b;
    --border-color: rgba(0, 0, 0, 0.05);
  }

  [data-theme='dark'] {
    /* Mode Sombre : Deep Night Blue (plus élégant que le noir) */
    --bg-main: #0f172a; 
    --bg-navbar: rgba(15, 23, 42, 0.8);
    --text-main: #cee2f7;
    --border-color: rgba(255, 255, 255, 0.05);
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-main);
    @apply transition-colors duration-500;
  }
}

.glass-effect {
  backdrop-filter: blur(12px);
  background-color: var(--bg-navbar);
  border-bottom: 2px solid var(--border-color);
}